{% extends "blog/base.html" %}
{% block title %}{{ blogpost.title }}{% endblock %}
{% block head %}{{ blogpost.title }}{% endblock %}
{% load markup %}
{% block content %}
  Created in {{ blogpost.create_time|timesince }} ago
  {{ blogpost.body|markdown|safe }}
  Last modified in {{ blogpost.modify_time|timesince }} ago
  {% if show_tags %}
    {% if blogpost.tag_set.all %}
      <div class="post-tags">
        {% for tag in blogpost.tag_set.all %}
          <div class="post-tag">
            #<a class="post-tag" href="/tag/{{ tag.name|urlencode }}/">{{ tag.name }}</a>
          </div>
        {% endfor %}
      </div>
    {% else %}
    {% endif %}
  {% endif %}
  {% if show_edit %}
    <a href="{% url blog:blogpost_update blogpost.id %}" class="post tool edit">[edit]</a>
    <form onsubmit="return confirm('Are you sure you want to delete this post?')" method="post" action="{% url blog:blogpost_delete blogpost.id %}">
      {% csrf_token %}
      <input type="hidden" value="{{ blogpost.id }}" name="id">
      <button class="post tool delete">delete</button>
    </form>
  {% endif %}
  {% if user.id == blogpost.user_id%}
    {% include "blog/ratings.html" %}
  {% else %}
    {% include "blog/ratings.html" %}
    {% include "blog/ratings_form.html" %}
  {% endif %}
<!--   {% include "blog/comments/comments.html" %}
  {% include "blog/comments/comment_form.html" %} -->
{% endblock %}

